<div class="row">
  <div class="col-5">
    <app-product-search></app-product-search>
  </div>
  <div class="col-1">
    <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  </div>
  <div class="col-2">
    <select
      class="form-select"
      [(ngModel)]="selectedSort"
      (change)="onSortChange()"
    >
      <option *ngFor="let option of sortOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
</div>

<div class="mt-5">
  <div class="row row-cols-1 row-cols-md-6 g-4">
    <ng-container *ngFor="let product of products">
      <app-product-card [product]="product"></app-product-card>
    </ng-container>
    <ng-container *ngIf="products.length === 0">
      <h4>No items to display</h4>
    </ng-container>
  </div>

  <app-product-pagination></app-product-pagination>
</div>
